<!doctype html>
<html>
  <head>
    <title>polymer-bg demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../polymer-bg.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div>
      <h3>Basic polymer-bg Demo</h3>
      <polymer-bg bg-background="http://placekitten.com/335/283" ideal-width="300" bg-orientation="horizontal">
        <img src="http://placekitten.com/335/283" />
        <img src="http://placekitten.com/325/596" />
        <img src="http://placekitten.com/580/365" />
        <img src="http://placekitten.com/282/581" />
        <img src="http://placekitten.com/503/319" />
        <img src="http://placekitten.com/549/577" />
        <img src="http://placekitten.com/355/493" />
        <img src="http://placekitten.com/500/150" />
        <img src="http://placekitten.com/360/529" />
        <img src="http://placekitten.com/589/361" />
        <img src="http://placekitten.com/452/462" />
        <img src="http://placekitten.com/550/304" />
        <img src="http://placekitten.com/352/204" />
        <img src="http://placekitten.com/400/220" />
      </polymer-bg>
    </div>
  </body>
</html>
